Auto_IG_App(INTERNET_GATEWAY):
  action:
    cleanUP: True

Auto_IG_Sec(INTERNET_GATEWAY):
  action:
    cleanUP: True

Auto_VPC_App(VPC):
  cidr-block: 10.0.0.0/16
  action:
    bind_to: Auto_IG_App
    cleanUP: True

Auto_VPC_Sec(VPC):
  cidr-block: 10.1.0.0/16
  action:
    cleanUP: True

Auto_SG_App(SECURITY_GROUP):
  vpc-id: Auto_VPC_App
  description: My security group
  action:
    authorize-security-group-ingress:
      - protocol: tcp
        port: 22
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 80
        cidr: 0.0.0.0/0
      - protocol: icmp
        port: all
        cidr: 0.0.0.0/0
      - protocol: udp
        port: 6081
        cidr: 0.0.0.0/0
    bind_to: Auto_VPC_App
    cleanUP: True

Auto_SG_Sec(SECURITY_GROUP):
  vpc-id: Auto_VPC_Sec
  description: My security group
  action:
    authorize-security-group-ingress:
      - protocol: tcp
        port: 22
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 80
        cidr: 0.0.0.0/0
      - protocol: icmp
        port: all
        cidr: 0.0.0.0/0
      - protocol: udp
        port: 6081
        cidr: 0.0.0.0/0
    bind_to: Auto_VPC_Sec
    cleanUP: True

Auto_SUB_App_1(SUBNET):
  vpc-id: Auto_VPC_App
  cidr-block: 10.0.1.0/24
  action:
    bind_to: Auto_VPC_App
    cleanUP: True

Auto_SUB_App_2(SUBNET):
  vpc-id: Auto_VPC_App
  cidr-block: 10.0.2.0/24
  action:
    bind_to: Auto_VPC_App
    cleanUP: True

Auto_SUB_Sec(SUBNET):
  vpc-id: Auto_VPC_Sec
  cidr-block: 10.1.1.0/24
  action:
    bind_to: Auto_VPC_Sec
    cleanUP: True

Auto-GWLB(GATEWAY_LOAD_BALANCE):
  type: gateway
  subnets: Auto_SUB_Sec
  action:
    bind_to: Auto_SUB_Sec
    cleanUP: True

Auto-TG(TARGET_GROUP):
  protocol: GENEVE
  port: 6081
  vpc-id: Auto_VPC_Sec
  action:
    bind_to: Auto_VPC_Sec
    cleanUP: True

Auto-LIST(LISTENER):
  load-balancer-arn: Auto-GWLB
  default-actions: Type=forward,TargetGroupArn=Auto-TG
  action:
    bind_to:
      - Auto-GWLB
      - Auto-TG
    cleanUP: True

Auto-VPCE-Serv(VPCE_SERVICE):
  gateway-load-balancer-arns: Auto-GWLB
  no-acceptance-required:
  action:
    bind_to: Auto-GWLB
    cleanUP: True

Auto-GWLBE(GATEWAY_LOAD_BALANCE_ENDPOINT):
  vpc-endpoint-type: GatewayLoadBalancer
  service-name: Auto-VPCE-Serv
  vpc-id: Auto_VPC_App
  subnet-ids: Auto_SUB_App_2
  action:
    bind_to:
      - Auto-VPCE-Serv
      - Auto_VPC_App
      - Auto_SUB_App_2
    cleanUP: True

Auto_RT_Sec_Main(ROUTE):
  route-table-id: {Auto_VPC_Sec}
  destination-cidr-block: 0.0.0.0/0
  gateway-id: Auto_IG_Sec
  action:
    bind_to:
      - Auto_IG_Sec
      - Auto_VPC_Sec
    cleanUP: True

Auto_RT_App_Main(ROUTE):
  route-table-id: '@Auto_VPC_App@'
  destination-cidr-block: 10.0.1.0/24
  vpc-endpoint-id: Auto_GWLBE
  action:
    bind_to:
      - Auto_VPC_App
      - Auto-GWLBE
    cleanUP: True

Auto_RTT_App_1(ROUTE_TABLE):
  vpc-id: Auto_VPC_App
  action:
    sub_route:
      - route-table-id: Auto_RTT_App_1
        destination-cidr-block: 0.0.0.0/0
        vpc-endpoint-id: Auto_GWLBE
        action:
          bind_to: Auto-GWLBE
    bind_to: Auto_VPC_App
    cleanUP: True

Auto_RTT_App_2(ROUTE_TABLE):
  vpc-id: Auto_VPC_App
  action:
    sub_route:
      - route-table-id: Auto_RTT_App_2
        destination-cidr-block: 0.0.0.0/0
        gateway-id: Auto_IG_App
        action:
          bind_to: Auto_IG_App
    bind_to: Auto_VPC_App
    cleanUP: True

#Auto_RT_App_1(ROUTE):
#  route-table-id: Auto_RTT_App_1
#  destination-cidr-block: 0.0.0.0/0
#  vpc-endpoint-id: Auto_GWLBE
#  action:
#    bind_to:
#      - Auto_GWLBE
#      - Auto_RTT_App_1
#    cleanUP: True

#Auto_RT_App_2(ROUTE):
#  route-table-id: Auto_RTT_App_2
#  destination-cidr-block: 0.0.0.0/0
#  gateway-id: Auto_IG_App
#  action:
#    bind_to:
#      - Auto_IG_App
#      - Auto_RTT_App_2
#    cleanUP: True

Auto_ASSO_Sub_1(ROUTE_ASSOCIATE):
  route-table-id: Auto_RTT_App_1
  subnet-id: Auto_SUB_App_1
  action:
    bind_to:
      - Auto_RTT_App_1
      - Auto_SUB_App_1
    cleanUP: True

Auto_ASSO_Sub_2(ROUTE_ASSOCIATE):
  route-table-id: Auto_RTT_App_2
  subnet-id: Auto_SUB_App_2
  action:
    bind_to:
      - Auto_RTT_App_2
      - Auto_SUB_App_2
    cleanUP: True

Auto_EC2_App(EC2INSTANCE):
  image-id: ami-03d64741867e7bb94
  instance-type: t2.micro
  key-name: testMonkey
  security-group-ids: Auto_SG_App
  count: 1  #if count > 1, app will append number to the instance name individually
  subnet-id: Auto_SUB_App_1
  associate-public-ip-address: None
  action:
    bind_to:
      - Auto_SG_App
      - Auto_SUB_App_1
    cmd:
      - sudo yum install python3 -y
      - sudo python3 -m http.server 80
    cleanUP: True

Auto_EC2_Sec(EC2INSTANCE):
  image-id: ami-03d64741867e7bb94
  instance-type: t2.micro
  key-name: testMonkey
  security-group-ids: Auto_SG_Sec
  count: 1  #if count > 1, app will append number to the instance name individually
  subnet-id: Auto_SUB_Sec
  associate-public-ip-address: None
  action:
    bind_to:
      - Auto_SG_Sec
      - Auto_SUB_Sec
    cmd: sudo yum install python3 -y
    cleanUP: True

Auto_TG_Instance(REGISTER):
  target-group-arn: Auto-TG
  targets: Auto_EC2_Sec
  action:
    bind_to:
      - Auto-TG
      - Auto_EC2_Sec
    cleanUP: True
