template-Hybrid_IG_App(INTERNET_GATEWAY):
  action:
    cleanUP: True

template-Hybrid_IG_Sec(INTERNET_GATEWAY):
  action:
    cleanUP: True

template-Hybrid_VPC_App(VPC):
  cidr-block: 10.0.1.0/16
  action:
    bind_to: template-Hybrid_IG_App
    cleanUP: True

template-Hybrid_VPC_Sec(VPC):
  cidr-block: 20.0.1.0/16
  action:
    bind_to: template-Hybrid_IG_Sec
    cleanUP: True

template-Hybrid_SG_App_MGMT(SECURITY_GROUP):
  vpc-id: template-Hybrid_VPC_App
  description: My security group
  action:
    authorize-security-group-ingress:
      - protocol: tcp
        port: 22
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 23
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 80
        cidr: 0.0.0.0/0
      - protocol: icmp
        port: all
        cidr: 0.0.0.0/0
      - protocol: udp
        port: 6081
        cidr: 0.0.0.0/0
      - protocol: udp
        port: 666
        cidr: 0.0.0.0/0
      - protocol: udp
        port: 5001
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 5001
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 23
        cidr: 0.0.0.0/0
    bind_to: template-Hybrid_VPC_App
    cleanUP: True

template-Hybrid_SG_App_DATA(SECURITY_GROUP):
  vpc-id: template-Hybrid_VPC_App
  description: My security group
  action:
    authorize-security-group-ingress:
      - protocol: all
        port: all
        cidr: 0.0.0.0/0
    authorize-security-group-egress:
      - protocol: all
        port: all
        cidr: 0.0.0.0/0
    bind_to: template-Hybrid_VPC_App
    cleanUP: True

template-Hybrid_SG_Sec_MGMT(SECURITY_GROUP):
  vpc-id: template-Hybrid_VPC_Sec
  description: My security group
  action:
    authorize-security-group-ingress:
      - protocol: tcp
        port: 22
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 23
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 80
        cidr: 0.0.0.0/0
      - protocol: icmp
        port: all
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 443
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 8305
        cidr: 0.0.0.0/0
      - protocol: udp
        port: 6081
        cidr: 0.0.0.0/0
      - protocol: udp
        port: 666
        cidr: 0.0.0.0/0
      - protocol: udp
        port: 5001
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 5001
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 23
        cidr: 0.0.0.0/0
    bind_to: template-Hybrid_VPC_Sec
    cleanUP: True

template-Hybrid_SG_Sec_DATA(SECURITY_GROUP):
  vpc-id: template-Hybrid_VPC_Sec
  description: My security group
  action:
    authorize-security-group-ingress:
      - protocol: all
        port: all
        cidr: 0.0.0.0/0
    authorize-security-group-egress:
      - protocol: all
        port: all
        cidr: 0.0.0.0/0
    bind_to: template-Hybrid_VPC_Sec
    cleanUP: True

template-Hybrid_SUB_App_1_MGMT(SUBNET):
  vpc-id: template-Hybrid_VPC_App
  cidr-block: 10.0.250.0/24
  action:
    bind_to: template-Hybrid_VPC_App
    cleanUP: True

template-Hybrid_SUB_App_1_DATA(SUBNET): #Yijun
  vpc-id: template-Hybrid_VPC_App
  cidr-block: 10.0.1.0/24
  availability-zone: '{template-Hybrid_SUB_App_1_MGMT}'
  action:
    bind_to:
      - template-Hybrid_VPC_App
      - template-Hybrid_SUB_App_1_MGMT
    cleanUP: True

template-Hybrid_SUB_App_2_DATA(SUBNET): #Yijun
  vpc-id: template-Hybrid_VPC_App
  cidr-block: 10.0.2.0/24
  availability-zone: '{template-Hybrid_SUB_App_1_MGMT}'    #same zone, same wanted infor as the induced one
  action:
    bind_to:
      - template-Hybrid_VPC_App
      - template-Hybrid_SUB_App_1_MGMT
    cleanUP: True

template-Hybrid_SUB_Sec_MGMT(SUBNET): #Yijun
  vpc-id: template-Hybrid_VPC_Sec
  cidr-block: 20.0.250.0/24
  availability-zone: '{template-Hybrid_SUB_App_1_MGMT}'
  action:
    bind_to:
      - template-Hybrid_VPC_Sec
      - template-Hybrid_SUB_App_1_MGMT
    cleanUP: True

template-Hybrid_SUB_Sec_DATA(SUBNET):   #Yijun
  vpc-id: template-Hybrid_VPC_Sec
  cidr-block: 20.0.1.0/24
  availability-zone: '{template-Hybrid_SUB_App_1_MGMT}'
  action:
    bind_to:
      - template-Hybrid_VPC_Sec
      - template-Hybrid_SUB_App_1_MGMT
    cleanUP: True

template-Hybrid_SUB_Sec_2_DATA(SUBNET):
  vpc-id: template-Hybrid_VPC_Sec
  cidr-block: 20.0.2.0/24
  availability-zone: '{template-Hybrid_SUB_App_1_MGMT}'
  action:
    bind_to:
      - template-Hybrid_VPC_Sec
      - template-Hybrid_SUB_App_1_MGMT
    cleanUP: True

template-Hybrid_SUB_Sec_3_DATA(SUBNET):
  vpc-id: template-Hybrid_VPC_Sec
  cidr-block: 20.0.3.0/24
  availability-zone: '{template-Hybrid_SUB_App_1_MGMT}'
  action:
    bind_to:
      - template-Hybrid_VPC_Sec
      - template-Hybrid_SUB_App_1_MGMT
    cleanUP: True

template-Hybrid-GWLB(GATEWAY_LOAD_BALANCE):
  type: gateway
  subnets: template-Hybrid_SUB_Sec_DATA
  action:
    bind_to: template-Hybrid_SUB_Sec_DATA
    cleanUP: True

template-Hybrid-TG(TARGET_GROUP):
  protocol: GENEVE
  port: 6081
  vpc-id: template-Hybrid_VPC_Sec
  target-type: ip
  action:
    bind_to: template-Hybrid_VPC_Sec
    cleanUP: True

template-Hybrid-LIST(LISTENER):
  load-balancer-arn: template-Hybrid-GWLB
  default-actions: Type=forward,TargetGroupArn=template-Hybrid-TG
  action:
    bind_to:
      - template-Hybrid-GWLB
      - template-Hybrid-TG
    cleanUP: True

template-Hybrid-VPCE-Serv(VPCE_SERVICE):
  gateway-load-balancer-arns: template-Hybrid-GWLB
  no-acceptance-required:
  action:
    bind_to: template-Hybrid-GWLB
    cleanUP: True

template-Hybrid-GWLBE(GATEWAY_LOAD_BALANCE_ENDPOINT):
  vpc-endpoint-type: GatewayLoadBalancer
  service-name: template-Hybrid-VPCE-Serv
  vpc-id: template-Hybrid_VPC_App
  subnet-ids: template-Hybrid_SUB_App_2_DATA
  action:
    bind_to:
      - template-Hybrid-VPCE-Serv
      - template-Hybrid_VPC_App
      - template-Hybrid_SUB_App_2_DATA
    cleanUP: True

template-Hybrid_RT_Sec_Main(ROUTE):
  route-table-id: '@template-Hybrid_VPC_Sec@'        #need to fetch induced res first, then get the wanted one
  destination-cidr-block: 0.0.0.0/0
  gateway-id: template-Hybrid_IG_Sec
  action:
    bind_to:
      - template-Hybrid_IG_Sec
      - template-Hybrid_VPC_Sec
    cleanUP: True

template-Hybrid_RT_App_Main(ROUTE):
  route-table-id: '@template-Hybrid_VPC_App@'
  destination-cidr-block: 0.0.0.0/0
  gateway-id: template-Hybrid_IG_App
  action:
    bind_to:
      - template-Hybrid_IG_App
      - template-Hybrid_VPC_App
    cleanUP: True

template-Hybrid_RTT_App_1(ROUTE_TABLE):
  vpc-id: template-Hybrid_VPC_App
  action:
    sub_route:
      - route-table-id: template-Hybrid_RTT_App_1
        destination-cidr-block: 0.0.0.0/0
        vpc-endpoint-id: template-Hybrid-GWLBE
        action:
          bind_to:
            - template-Hybrid-GWLBE
            - template-Hybrid_RTT_App_1
    bind_to: template-Hybrid_VPC_App
    cleanUP: True

template-Hybrid_RTT_App_2(ROUTE_TABLE):
  vpc-id: template-Hybrid_VPC_App
  action:
    sub_route:
      - route-table-id: template-Hybrid_RTT_App_2
        destination-cidr-block: 0.0.0.0/0
        gateway-id: template-Hybrid_IG_App
        action:
          bind_to:
            - template-Hybrid_IG_App
            - template-Hybrid_RTT_App_2
    bind_to: template-Hybrid_VPC_App
    cleanUP: True

template-Hybrid_RTT_App_3(ROUTE_TABLE):
  vpc-id: template-Hybrid_VPC_App
  action:
    sub_route:
      - route-table-id: template-Hybrid_RTT_App_3
        destination-cidr-block: 10.0.1.0/24
        vpc-endpoint-id: template-Hybrid-GWLBE
        action:
          bind_to:
            - template-Hybrid-GWLBE
            - template-Hybrid_RTT_App_3
    bind_to: template-Hybrid_VPC_App
    cleanUP: True

template-Hybrid_ASSO_Sub_1(ROUTE_ASSOCIATE):
  route-table-id: template-Hybrid_RTT_App_1
  subnet-id: template-Hybrid_SUB_App_1_DATA
  action:
    bind_to:
      - template-Hybrid_RTT_App_1
      - template-Hybrid_SUB_App_1_DATA
    cleanUP: True

template-Hybrid_ASSO_Sub_2(ROUTE_ASSOCIATE):
  route-table-id: template-Hybrid_RTT_App_2
  subnet-id: template-Hybrid_SUB_App_2_DATA
  action:
    bind_to:
      - template-Hybrid_RTT_App_2
      - template-Hybrid_SUB_App_2_DATA
    cleanUP: True

template-Hybrid_ASSO_Sub_3(ROUTE_ASSOCIATE):
  route-table-id: template-Hybrid_RTT_App_3
  gateway-id: template-Hybrid_IG_App
  action:
    bind_to:
      - template-Hybrid_RTT_App_3
      - template-Hybrid_IG_App
    cleanUP: True

template-Hybrid-EC2-App(EC2INSTANCE):
  image-id: template-Base_Linux_AMI_ID
  instance-type: t2.micro
  key-name: template-Key
  security-group-ids: template-Hybrid_SG_App_DATA
  count: 1
  subnet-id: template-Hybrid_SUB_App_1_DATA
  private-ip-address: 10.0.1.101
  action:
    bind_to:
      - template-Hybrid_SG_App_DATA
      - template-Hybrid_SUB_App_1_DATA
    cleanUP: True

template-Hybrid-EC2-App-JB(EC2INSTANCE):
  image-id: template-Base_Linux_AMI_ID
  instance-type: t2.micro
  key-name: template-Key
  security-group-ids: template-Hybrid_SG_App_MGMT
  count: 1
  subnet-id: template-Hybrid_SUB_App_1_MGMT
  associate-public-ip-address: None
  private-ip-address: 10.0.250.10
  action:
    bind_to:
      - template-Hybrid_SG_App_MGMT
      - template-Hybrid_SUB_App_1_MGMT
    cmd:
      - sudo apt install net-tools
      - sudo apt update
      - sudo hostname template-Hybrid-EC2-App-JB
      - sudo apt install python3-pip -y
      - sudo apt install iperf -y
      - sudo pip3 install scapy
      - sudo sed -i 's/.*PermitRootLogin.*/PermitRootLogin yes/g' /etc/ssh/sshd_config
      - sudo sed -i 's/.*PasswordAuthentication.*/PasswordAuthentication yes/g' /etc/ssh/sshd_config
      - sudo systemctl restart sshd
      - sudo echo -e "cisco123!\\ncisco123!\\n" | sudo passwd root
#      - sudo ifconfig eth1 down   //no eth1 bind yet
#      - sudo ifconfig eth1 10.0.1.10/24
#      - sudo ifconfig eth1 up
    transfer:
      - from:./template-Key.pem to:/home/ubuntu/.
    cleanUP: True

template-Hybrid-AMI-FTD(AMICOPY):
  source-image-id: template-Source_FTDv_AMI_ID
  source-region: template-Source_Region
  region: template-local_region
  name: ftdv
  action:
    cleanUP: True

template-Hybrid-AMI-FMC(AMICOPY):
  source-image-id: template-Source_FMCv_AMI_ID
  source-region: template-Source_Region
  region: template-local_region
  name: fmcv
  action:
    cleanUP: True

template-Hybrid-EC2-FTD(EC2INSTANCE):
  image-id: template-Hybrid-AMI-FTD
  instance-type: d2.2xlarge
  key-name: template-Key
  security-group-ids: template-Hybrid_SG_Sec_MGMT
  count: 1
  subnet-id: template-Hybrid_SUB_Sec_MGMT
  associate-public-ip-address: None
  private-ip-address: 20.0.250.12
  action:
    bind_to:
        - template-Hybrid_SUB_Sec_MGMT
        - template-Hybrid_SG_Sec_MGMT
        - template-Hybrid-AMI-FTD
    cleanUP: True

template-Hybrid-EC2-FMC(EC2INSTANCE):
  image-id: template-Hybrid-AMI-FMC
  instance-type: d2.2xlarge
  key-name: template-Key
  security-group-ids: template-Hybrid_SG_Sec_MGMT
  count: 1
  subnet-id: template-Hybrid_SUB_Sec_MGMT
  associate-public-ip-address: None
  private-ip-address: 20.0.250.13
  action:
    bind_to:
        - template-Hybrid_SUB_Sec_MGMT
        - template-Hybrid_SG_Sec_MGMT
        - template-Hybrid-AMI-FMC
    cleanUP: True

template-Hybrid-EC2-HBD-JB(EC2INSTANCE):
  image-id: template-Base_Linux_AMI_ID
  instance-type: t2.micro
  key-name: template-Key
  security-group-ids: template-Hybrid_SG_Sec_MGMT
  count: 1
  subnet-id: template-Hybrid_SUB_Sec_MGMT
  associate-public-ip-address: None
  private-ip-address: 20.0.250.10
  action:
    bind_to:
      - template-Hybrid_SG_Sec_MGMT
      - template-Hybrid_SUB_Sec_MGMT
    cmd:
      - sudo apt install net-tools
      - sudo apt update
      - sudo hostname template-Hybrid-EC2-HBD-JB
      - sudo apt install python3-pip -y
      - sudo apt install iperf -y
      - sudo pip3 install scapy
      - sudo apt install apache2 -y
      - sudo sed -i 's/.*PermitRootLogin.*/PermitRootLogin yes/g' /etc/ssh/sshd_config
      - sudo sed -i 's/.*PasswordAuthentication.*/PasswordAuthentication yes/g' /etc/ssh/sshd_config
      - sudo systemctl restart sshd
      - sudo echo -e "cisco123!\\ncisco123!\\n" | sudo passwd root
      - sudo sed -i 's/.*module(load="imudp").*/module(load="imudp")/g' /etc/rsyslog.conf
      - sudo sed -i 's/.*input(type="imudp" port="514").*/input(type="imudp" port="514")/g' /etc/rsyslog.conf
      - sudo sed -i 's/.*module(load="imtcp").*/module(load="imtcp")/g' /etc/rsyslog.conf
      - sudo sed -i 's/.*input(type="imtcp" port="514").*/input(type="imtcp" port="514")/g' /etc/rsyslog.conf
#      - sudo ifconfig eth1 down      //no eth1 bind yet
#      - sudo ifconfig eth1 20.0.1.10/24
#      - sudo ifconfig eth1 up
      - sudo chmod 777 -R /var/www
    transfer:
      - from:./template-Key.pem to:/home/ubuntu/.
      - from:./geneve.smp to:/var/www/html/.
    cleanUP: True

template-Hybrid_TG_Instance(REGISTER):
  target-group-arn: template-Hybrid-TG
  targets: Id=template-Hybrid_NWInterface_FTD1
  action:
    bind_to:
      - template-Hybrid-TG
      - template-Hybrid_NWInterface_FTD
    cleanUP: True

template-Hybrid_NWInterface_FTD_JB(NETWORK_INTERFACE):
  subnet-id: template-Hybrid_SUB_Sec_DATA
  description: template-Hybrid Data Network for FTD JumpBox
  groups: template-Hybrid_SG_Sec_DATA
  private-ip-address: 20.0.1.10
  action:
    bind_to:
      - template-Hybrid_SG_Sec_DATA
      - template-Hybrid_SUB_Sec_DATA
    cleanUP: True

template-Hybrid_NWInterface_FTD1(NETWORK_INTERFACE):
  subnet-id: template-Hybrid_SUB_Sec_DATA
  description: template-Hybrid Data Network for FTD
  groups: template-Hybrid_SG_Sec_DATA
  private-ip-address: 20.0.1.102
  action:
    bind_to:
      - template-Hybrid_SG_Sec_DATA
      - template-Hybrid_SUB_Sec_DATA
    cleanUP: True

template-Hybrid_NWInterface_FTD2(NETWORK_INTERFACE):
  subnet-id: template-Hybrid_SUB_Sec_2_DATA
  description: template-Hybrid Data Network2 for FTD
  groups: template-Hybrid_SG_Sec_DATA
  private-ip-address: 20.0.2.101
  action:
    bind_to:
        - template-Hybrid_SG_Sec_DATA
        - template-Hybrid_SUB_Sec_2_DATA
    cleanUP: True

template-Hybrid_NWInterface_FTD3(NETWORK_INTERFACE):
  subnet-id: template-Hybrid_SUB_Sec_3_DATA
  description: template-Hybrid Data Network3 for FTD
  groups: template-Hybrid_SG_Sec_DATA
  private-ip-address: 20.0.3.101
  action:
    bind_to:
        - template-Hybrid_SG_Sec_DATA
        - template-Hybrid_SUB_Sec_3_DATA
    cleanUP: True

template-Hybrid_NWInterface_App_JB(NETWORK_INTERFACE):
  subnet-id: template-Hybrid_SUB_App_1_DATA
  description: template-Hybrid Data Network for Application JumpBox
  groups: template-Hybrid_SG_App_DATA
  private-ip-address: 10.0.1.10
  action:
    bind_to:
      - template-Hybrid_SG_App_DATA
      - template-Hybrid_SUB_App_1_DATA
    cleanUP: True

template-Hybrid_NWInterface_FTD_JB_Bind(BIND):
  network-interface-id: template-Hybrid_NWInterface_FTD_JB
  instance-id: template-Hybrid-EC2-HBD-JB
  device-index: 1
  action:
    bind_to:
      - template-Hybrid_NWInterface_FTD_JB
      - template-Hybrid-EC2-HBD-JB
    cleanUP: True

template-Hybrid_NWInterface_FTD_1_Bind(BIND):
  network-interface-id: template-Hybrid_NWInterface_FTD1
  instance-id: template-Hybrid-EC2-FTD
  device-index: 1
  action:
    bind_to:
      - template-Hybrid_NWInterface_FTD1
      - template-Hybrid-EC2-FTD
      - template-Hybrid_NWInterface_FTD_3_Bind
    cleanUP: True

template-Hybrid_NWInterface_FTD_2_Bind(BIND):
  network-interface-id: template-Hybrid_NWInterface_FTD2
  instance-id: template-Hybrid-EC2-FTD
  device-index: 2
  action:
    bind_to:
      - template-Hybrid_NWInterface_FTD2
      - template-Hybrid-EC2-FTD
      - template-Hybrid_NWInterface_FTD_1_Bind
    cleanUP: True
template-Hybrid_NWInterface_FTD_3_Bind(BIND):
  network-interface-id: template-Hybrid_NWInterface_FTD3
  instance-id: template-Hybrid-EC2-FTD
  device-index: 3
  action:
    bind_to:
      - template-Hybrid_NWInterface_FTD3
      - template-Hybrid-EC2-FTD
    cleanUP: True

template-Hybrid_NWInterface_App_JB_Bind(BIND):
  network-interface-id: template-Hybrid_NWInterface_App_JB
  instance-id: template-Hybrid-EC2-App-JB
  device-index: 1
  action:
    bind_to:
      - template-Hybrid_NWInterface_App_JB
      - template-Hybrid-EC2-App-JB
    cleanUP: True

template-Hybrid_EIP(ELASTIC_IP):
  instance-id: template-Hybrid-EC2-App
  action:
    bind_to:
      - template-Hybrid-EC2-App
    cleanUP: True

template-Hybrid-EC2-ASA(EC2INSTANCE):
  image-id: template-ASAv_AMI_ID
  instance-type: c5.xlarge
  key-name: template-Key
  security-group-ids: template-Hybrid_SG_Sec_MGMT
  count: 1
  subnet-id: template-Hybrid_SUB_Sec_MGMT
  associate-public-ip-address: None
  private-ip-address: 20.0.250.11
  user-data: file://pytest_day0.txt
  action:
    bind_to:
      - template-Hybrid_SG_Sec_MGMT
      - template-Hybrid_SUB_Sec_MGMT
    cleanUP: True

template-Hybrid_NWInterface_ASA(NETWORK_INTERFACE):
  subnet-id: template-Hybrid_SUB_Sec_DATA
  description: template-Hybrid Data Network for ASA
  groups: template-Hybrid_SG_Sec_DATA
  private-ip-address: 20.0.1.101
  action:
    bind_to:
      - template-Hybrid_SG_Sec_DATA
      - template-Hybrid_SUB_Sec_DATA
    cleanUP: True

template-Hybrid_NWInterface_ASA_Bind(BIND):
  network-interface-id: template-Hybrid_NWInterface_ASA
  instance-id: template-Hybrid-EC2-ASA
  device-index: 1
  action:
    bind_to:
      - template-Hybrid_NWInterface_ASA
      - template-Hybrid-EC2-ASA
    cleanUP: True