#Test-Hybrid_IG_App(INTERNET_GATEWAY):
#  action:
#    cleanUP: True

Test-Hybrid_IG_Sec(INTERNET_GATEWAY):
  action:
    cleanUP: True

#Test-Hybrid_VPC_App(VPC):
#  cidr-block: 10.0.1.0/16
#  action:
#    bind_to: Test-Hybrid_IG_App
#    cleanUP: True

Test-Hybrid_VPC_Sec(VPC):
  cidr-block: 30.0.1.0/16
  action:
    bind_to: Test-Hybrid_IG_Sec
    cleanUP: True

#Test-Hybrid_SG_App_MGMT(SECURITY_GROUP):
#  vpc-id: Test-Hybrid_VPC_App
#  description: My security group
#  action:
#    authorize-security-group-ingress:
#      - protocol: tcp
#        port: 22
#        cidr: 0.0.0.0/0
#      - protocol: tcp
#        port: 23
#        cidr: 0.0.0.0/0
#      - protocol: tcp
#        port: 80
#        cidr: 0.0.0.0/0
#      - protocol: icmp
#        port: all
#        cidr: 0.0.0.0/0
#      - protocol: udp
#        port: 6081
#        cidr: 0.0.0.0/0
#      - protocol: udp
#        port: 666
#        cidr: 0.0.0.0/0
#      - protocol: udp
#        port: 5001
#        cidr: 0.0.0.0/0
#      - protocol: tcp
#        port: 5001
#        cidr: 0.0.0.0/0
#      - protocol: tcp
#        port: 23
#        cidr: 0.0.0.0/0
#    bind_to: Test-Hybrid_VPC_App
#    cleanUP: True

#Test-Hybrid_SG_App_DATA(SECURITY_GROUP):
#  vpc-id: Test-Hybrid_VPC_App
#  description: My security group
#  action:
#    authorize-security-group-ingress:
#      - protocol: all
#        port: all
#        cidr: 0.0.0.0/0
#    authorize-security-group-egress:
#      - protocol: all
#        port: all
#        cidr: 0.0.0.0/0
#    bind_to: Test-Hybrid_VPC_App
#    cleanUP: True

Test-Hybrid_SG_MGMT(SECURITY_GROUP):
  vpc-id: Test-Hybrid_VPC_Sec
  description: My security group
  action:
    authorize-security-group-ingress:
      - protocol: tcp
        port: 22
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 23
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 80
        cidr: 0.0.0.0/0
      - protocol: icmp
        port: all
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 443
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 8305
        cidr: 0.0.0.0/0
      - protocol: udp
        port: 6081
        cidr: 0.0.0.0/0
      - protocol: udp
        port: 666
        cidr: 0.0.0.0/0
      - protocol: udp
        port: 5001
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 5001
        cidr: 0.0.0.0/0
      - protocol: tcp
        port: 23
        cidr: 0.0.0.0/0
    bind_to: Test-Hybrid_VPC_Sec
    cleanUP: True

Test-Hybrid_SG_DATA(SECURITY_GROUP):
  vpc-id: Test-Hybrid_VPC_Sec
  description: My security group
  action:
    authorize-security-group-ingress:
      - protocol: all
        port: all
        cidr: 0.0.0.0/0
    authorize-security-group-egress:
      - protocol: all
        port: all
        cidr: 0.0.0.0/0
    bind_to: Test-Hybrid_VPC_Sec
    cleanUP: True

Test-Hybrid_SUB_MGMT(SUBNET):
  vpc-id: Test-Hybrid_VPC_Sec
  cidr-block: 30.0.250.0/24
  action:
    bind_to: Test-Hybrid_VPC_Sec
    cleanUP: True

Test-Hybrid_SUB_App_1_DATA(SUBNET): #Yijun
  vpc-id: Test-Hybrid_VPC_Sec
  cidr-block: 30.0.1.0/24
  availability-zone: '{Test-Hybrid_SUB_MGMT}'
  action:
    bind_to:
      - Test-Hybrid_VPC_Sec
      - Test-Hybrid_SUB_MGMT
    cleanUP: True

Test-Hybrid_SUB_App_2_DATA(SUBNET): #Yijun
  vpc-id: Test-Hybrid_VPC_Sec
  cidr-block: 30.0.2.0/24
  availability-zone: '{Test-Hybrid_SUB_MGMT}'    #same zone, same wanted infor as the induced one
  action:
    bind_to:
      - Test-Hybrid_VPC_Sec
      - Test-Hybrid_SUB_MGMT
    cleanUP: True

#Test-Hybrid_SUB_Sec_MGMT(SUBNET): #Yijun
#  vpc-id: Test-Hybrid_VPC_Sec
#  cidr-block: 30.0.250.0/24
#  availability-zone: '{Test-Hybrid_SUB_App_1_MGMT}'
#  action:
#    bind_to:
#      - Test-Hybrid_VPC_Sec
#      - Test-Hybrid_SUB_App_1_MGMT
#    cleanUP: True

Test-Hybrid_SUB_Sec_DATA(SUBNET):   #Yijun
  vpc-id: Test-Hybrid_VPC_Sec
  cidr-block: 30.0.3.0/24
  availability-zone: '{Test-Hybrid_SUB_MGMT}'
  action:
    bind_to:
      - Test-Hybrid_VPC_Sec
      - Test-Hybrid_SUB_MGMT
    cleanUP: True

#Test-Hybrid_SUB_Sec_2_DATA(SUBNET):
#  vpc-id: Test-Hybrid_VPC_Sec
#  cidr-block: 20.0.2.0/24
#  availability-zone: '{Test-Hybrid_SUB_App_1_MGMT}'
#  action:
#    bind_to:
#      - Test-Hybrid_VPC_Sec
#      - Test-Hybrid_SUB_App_1_MGMT
#    cleanUP: True

#Test-Hybrid_SUB_Sec_3_DATA(SUBNET):
#  vpc-id: Test-Hybrid_VPC_Sec
#  cidr-block: 20.0.3.0/24
#  availability-zone: '{Test-Hybrid_SUB_App_1_MGMT}'
#  action:
#    bind_to:
#      - Test-Hybrid_VPC_Sec
#      - Test-Hybrid_SUB_App_1_MGMT
#    cleanUP: True

Test-Hybrid-GWLB(GATEWAY_LOAD_BALANCE):
  type: gateway
  subnets: Test-Hybrid_SUB_Sec_DATA
  action:
    bind_to: Test-Hybrid_SUB_Sec_DATA
    cleanUP: True

Test-Hybrid-TG(TARGET_GROUP):
  protocol: GENEVE
  port: 6081
  vpc-id: Test-Hybrid_VPC_Sec
  target-type: ip
  action:
    bind_to: Test-Hybrid_VPC_Sec
    cleanUP: True

Test-Hybrid-LIST(LISTENER):
  load-balancer-arn: Test-Hybrid-GWLB
  default-actions: Type=forward,TargetGroupArn=Test-Hybrid-TG
  action:
    bind_to:
      - Test-Hybrid-GWLB
      - Test-Hybrid-TG
    cleanUP: True

Test-Hybrid-VPCE-Serv(VPCE_SERVICE):
  gateway-load-balancer-arns: Test-Hybrid-GWLB
  no-acceptance-required:
  action:
    bind_to: Test-Hybrid-GWLB
    cleanUP: True

Test-Hybrid-GWLBE(GATEWAY_LOAD_BALANCE_ENDPOINT):
  vpc-endpoint-type: GatewayLoadBalancer
  service-name: Test-Hybrid-VPCE-Serv
  vpc-id: Test-Hybrid_VPC_Sec
  subnet-ids: Test-Hybrid_SUB_App_2_DATA
  action:
    bind_to:
      - Test-Hybrid-VPCE-Serv
      - Test-Hybrid_VPC_Sec
      - Test-Hybrid_SUB_App_2_DATA
    cleanUP: True

Test-Hybrid_RT_Sec_Main(ROUTE):
  route-table-id: '@Test-Hybrid_VPC_Sec@'        #need to fetch induced res first, then get the wanted one
  destination-cidr-block: 0.0.0.0/0
  gateway-id: Test-Hybrid_IG_Sec
  action:
    bind_to:
      - Test-Hybrid_IG_Sec
      - Test-Hybrid_VPC_Sec
    cleanUP: True

#Test-Hybrid_RT_App_Main(ROUTE):
#  route-table-id: '@Test-Hybrid_VPC_App@'
#  destination-cidr-block: 0.0.0.0/0
#  gateway-id: Test-Hybrid_IG_App
#  action:
#    bind_to:
#      - Test-Hybrid_IG_App
#      - Test-Hybrid_VPC_App
#    cleanUP: True

#Test-Hybrid_RTT_App_1(ROUTE_TABLE):
#  vpc-id: Test-Hybrid_VPC_App
#  action:
#    sub_route:
#      - route-table-id: Test-Hybrid_RTT_App_1
#        destination-cidr-block: 0.0.0.0/0
#        vpc-endpoint-id: Test-Hybrid-GWLBE
#        action:
#          bind_to:
#            - Test-Hybrid-GWLBE
#            - Test-Hybrid_RTT_App_1
#    bind_to: Test-Hybrid_VPC_App
#    cleanUP: True

#Test-Hybrid_RTT_App_2(ROUTE_TABLE):
#  vpc-id: Test-Hybrid_VPC_App
#  action:
#    sub_route:
#      - route-table-id: Test-Hybrid_RTT_App_2
#        destination-cidr-block: 0.0.0.0/0
#        gateway-id: Test-Hybrid_IG_App
#        action:
#          bind_to:
#            - Test-Hybrid_IG_App
#            - Test-Hybrid_RTT_App_2
#    bind_to: Test-Hybrid_VPC_App
#    cleanUP: True

#Test-Hybrid_RTT_App_3(ROUTE_TABLE):
#  vpc-id: Test-Hybrid_VPC_App
#  action:
#    sub_route:
#      - route-table-id: Test-Hybrid_RTT_App_3
#        destination-cidr-block: 10.0.1.0/24
#        vpc-endpoint-id: Test-Hybrid-GWLBE
#        action:
#          bind_to:
#            - Test-Hybrid-GWLBE
#            - Test-Hybrid_RTT_App_3
#    bind_to: Test-Hybrid_VPC_App
#    cleanUP: True

Test-Hybrid_RTT_Sec_1(ROUTE_TABLE):
  vpc-id: Test-Hybrid_VPC_Sec
  action:
    sub_route:
      - route-table-id: Test-Hybrid_RTT_Sec_1
        destination-cidr-block: 10.0.1.0/24
        network-interface-id: Test-Hybrid_NWInterface_ASA2
        action:
          bind_to:
            - Test-Hybrid_RTT_Sec_1
            - Test-Hybrid_NWInterface_ASA2
    bind_to: Test-Hybrid_VPC_Sec
    cleanUP: True

#Test-Hybrid_ASSO_Sub_1(ROUTE_ASSOCIATE):
#  route-table-id: Test-Hybrid_RTT_App_1
#  subnet-id: Test-Hybrid_SUB_App_1_DATA
#  action:
#    bind_to:
#      - Test-Hybrid_RTT_App_1
#      - Test-Hybrid_SUB_App_1_DATA
#    cleanUP: True

#Test-Hybrid_ASSO_Sub_2(ROUTE_ASSOCIATE):
#  route-table-id: Test-Hybrid_RTT_App_2
#  subnet-id: Test-Hybrid_SUB_App_2_DATA
#  action:
#    bind_to:
#      - Test-Hybrid_RTT_App_2
#      - Test-Hybrid_SUB_App_2_DATA
#    cleanUP: True

#Test-Hybrid_ASSO_Sub_3(ROUTE_ASSOCIATE):
#  route-table-id: Test-Hybrid_RTT_App_3
#  gateway-id: Test-Hybrid_IG_App
#  action:
#    bind_to:
#      - Test-Hybrid_RTT_App_3
#      - Test-Hybrid_IG_App
#    cleanUP: True

Test-Hybrid-EC2-App(EC2INSTANCE):
  image-id: ami-031b673f443c2172c
  instance-type: t2.micro
  key-name: testDog
  security-group-ids: Test-Hybrid_SG_DATA
  count: 1
  subnet-id: Test-Hybrid_SUB_App_1_DATA
  private-ip-address: 30.0.1.101
  action:
    bind_to:
      - Test-Hybrid_SG_DATA
      - Test-Hybrid_SUB_App_1_DATA
    cleanUP: True

Test-Hybrid-EC2-App-JB(EC2INSTANCE):
  image-id: ami-031b673f443c2172c
  instance-type: t2.micro
  key-name: testDog
  security-group-ids: Test-Hybrid_SG_MGMT
  count: 1
  subnet-id: Test-Hybrid_SUB_MGMT
  associate-public-ip-address: None
  private-ip-address: 30.0.250.10
  action:
    bind_to:
      - Test-Hybrid_SG_MGMT
      - Test-Hybrid_SUB_MGMT
    cmd:
      - sudo apt install net-tools
      - sudo apt update
      - sudo hostname Test-Hybrid-EC2-App-JB
      - sudo apt install python3-pip -y
      - sudo apt install iperf -y
      - sudo pip3 install scapy
      - sudo sed -i 's/.*PermitRootLogin.*/PermitRootLogin yes/g' /etc/ssh/sshd_config
      - sudo sed -i 's/.*PasswordAuthentication.*/PasswordAuthentication yes/g' /etc/ssh/sshd_config
      - sudo systemctl restart sshd
      - sudo echo -e "cisco123!\\ncisco123!\\n" | sudo passwd root
#      - sudo ifconfig eth1 down   //no eth1 bind yet
#      - sudo ifconfig eth1 10.0.1.10/24
#      - sudo ifconfig eth1 up
    transfer:
      - from:./testDog.pem to:/home/ubuntu/.
    cleanUP: True

Test-Hybrid-EC2-HBD-JB(EC2INSTANCE):
  image-id: ami-031b673f443c2172c
  instance-type: t2.micro
  key-name: testDog
  security-group-ids: Test-Hybrid_SG_MGMT
  count: 1
  subnet-id: Test-Hybrid_SUB_MGMT
  associate-public-ip-address: None
  private-ip-address: 30.0.250.20
  action:
    bind_to:
      - Test-Hybrid_SG_MGMT
      - Test-Hybrid_SUB_MGMT
    cmd:
      - sudo apt install net-tools
      - sudo apt update
      - sudo hostname Test-Hybrid-EC2-HBD-JB
      - sudo apt install python3-pip -y
      - sudo apt install iperf -y
      - sudo pip3 install scapy
      - sudo apt install apache2 -y
      - sudo sed -i 's/.*PermitRootLogin.*/PermitRootLogin yes/g' /etc/ssh/sshd_config
      - sudo sed -i 's/.*PasswordAuthentication.*/PasswordAuthentication yes/g' /etc/ssh/sshd_config
      - sudo systemctl restart sshd
      - sudo echo -e "cisco123!\\ncisco123!\\n" | sudo passwd root
      - sudo sed -i 's/.*module(load="imudp").*/module(load="imudp")/g' /etc/rsyslog.conf
      - sudo sed -i 's/.*input(type="imudp" port="514").*/input(type="imudp" port="514")/g' /etc/rsyslog.conf
      - sudo sed -i 's/.*module(load="imtcp").*/module(load="imtcp")/g' /etc/rsyslog.conf
      - sudo sed -i 's/.*input(type="imtcp" port="514").*/input(type="imtcp" port="514")/g' /etc/rsyslog.conf
#      - sudo ifconfig eth1 down      //no eth1 bind yet
#      - sudo ifconfig eth1 20.0.1.10/24
#      - sudo ifconfig eth1 up
      - sudo chmod 777 -R /var/www
    transfer:
      - from:./testDog.pem to:/home/ubuntu/.
      - from:./geneve.smp to:/var/www/html/.
    cleanUP: True

Test-Hybrid_TG_Instance(REGISTER):
  target-group-arn: Test-Hybrid-TG
  targets: Id=Test-Hybrid_NWInterface_ASA2
  action:
    bind_to:
      - Test-Hybrid-TG
      - Test-Hybrid_NWInterface_ASA2
    cleanUP: True

Test-Hybrid_NWInterface_ASA_JB(NETWORK_INTERFACE):
  subnet-id: Test-Hybrid_SUB_Sec_DATA
  description: Test-Hybrid Data Network for ASA JumpBox
  groups: Test-Hybrid_SG_DATA
  private-ip-address: 30.0.3.11
  action:
    bind_to:
      - Test-Hybrid_SG_DATA
      - Test-Hybrid_SUB_Sec_DATA
    cleanUP: True

Test-Hybrid_NWInterface_App_JB(NETWORK_INTERFACE):
  subnet-id: Test-Hybrid_SUB_App_1_DATA
  description: Test-Hybrid Data Network for Application JumpBox
  groups: Test-Hybrid_SG_DATA
  private-ip-address: 30.0.1.11
  action:
    bind_to:
      - Test-Hybrid_SG_DATA
      - Test-Hybrid_SUB_App_1_DATA
    cleanUP: True

Test-Hybrid_NWInterface_ASA_JB_Bind(BIND):
  network-interface-id: Test-Hybrid_NWInterface_ASA_JB
  instance-id: Test-Hybrid-EC2-HBD-JB
  device-index: 1
  action:
    bind_to:
      - Test-Hybrid_NWInterface_ASA_JB
      - Test-Hybrid-EC2-HBD-JB
    cleanUP: True


Test-Hybrid_NWInterface_App_JB_Bind(BIND):
  network-interface-id: Test-Hybrid_NWInterface_App_JB
  instance-id: Test-Hybrid-EC2-App-JB
  device-index: 1
  action:
    bind_to:
      - Test-Hybrid_NWInterface_App_JB
      - Test-Hybrid-EC2-App-JB
    cleanUP: True

Test-Hybrid_EIP(ELASTIC_IP):
  instance-id: Test-Hybrid-EC2-App
  action:
    bind_to:
      - Test-Hybrid-EC2-App
    cleanUP: True

Test-Hybrid-EC2-ASA(EC2INSTANCE):
  image-id: ami-01cab33393210e391
  instance-type: c5.xlarge
  key-name: testDog
  security-group-ids: Test-Hybrid_SG_MGMT
  count: 1
  subnet-id: Test-Hybrid_SUB_MGMT
  associate-public-ip-address: None
  private-ip-address: 30.0.250.20
  action:
    bind_to:
      - Test-Hybrid_SG_MGMT
      - Test-Hybrid_SUB_MGMT
    cleanUP: True

Test-Hybrid_NWInterface_ASA1(NETWORK_INTERFACE):
  subnet-id: Test-Hybrid_SUB_Sec_DATA
  description: Test-Hybrid Data Network for ASA1
  groups: Test-Hybrid_SG_DATA
  private-ip-address: 30.0.3.10
  action:
    bind_to:
      - Test-Hybrid_SG_DATA
      - Test-Hybrid_SUB_Sec_DATA
    cleanUP: True

Test-Hybrid_NWInterface_ASA2(NETWORK_INTERFACE):
  subnet-id: Test-Hybrid_SUB_Sec_DATA
  description: Test-Hybrid Data Network for ASA2
  groups: Test-Hybrid_SG_DATA
  private-ip-address: 30.0.3.20
  action:
    bind_to:
      - Test-Hybrid_SG_DATA
      - Test-Hybrid_SUB_Sec_DATA
    cleanUP: True

Test-Hybrid_NWInterface_ASA1_Bind(BIND):
  network-interface-id: Test-Hybrid_NWInterface_ASA1
  instance-id: Test-Hybrid-EC2-ASA
  device-index: 1
  action:
    bind_to:
      - Test-Hybrid_NWInterface_ASA1
      - Test-Hybrid-EC2-ASA
    cleanUP: True

Test-Hybrid_NWInterface_ASA2_Bind(BIND):
  network-interface-id: Test-Hybrid_NWInterface_ASA2
  instance-id: Test-Hybrid-EC2-ASA
  device-index: 1
  action:
    bind_to:
      - Test-Hybrid_NWInterface_ASA2
      - Test-Hybrid-EC2-ASA
    cleanUP: True